*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #470391, #2870ee);
    display: flex;
    align-items: center;
}

nav img {
    width: 95px;
}

.input {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input input {
    width: 500px;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid white;
}
.input input::placeholder {
    color: white; 
    opacity: 1; 
}
.input img {
    width: 50px; 
    margin-left: 100px;
}


.hero {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    height: 250px; 
    width: 100%; 
    gap: 20px;
}

.hero1, .hero2 {
    height: 100%; 
}

.hero1 {
    width: 30%;
    background: linear-gradient(to right, #470391, #2870ee);
    color: white;
}

.hero2 {
    width: 70%;

}
.hero2 img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.categories p{
    text-align: center;
    font-size: larger;
    font-weight: 800;
}
.categories ul{
    text-align: left;
    font-size: large;
}

.categories a{
    color: white;
    text-decoration: none;
}

.laptop_div{
    padding-top: 10px;
}
.laptop_div h3{
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;

}
.laptop-group{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.laptop_img{
    height: 350px;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.laptop_img img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.laptop-group h6{
    position: relative;
    top: -60px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: large;
}


.phone_div{
    padding-top: 30px;
}
.phone_div h3{
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;

}
.phone-group{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.phone_img{
    height: 200px;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.phone_img img{
    width: 180px;
    height: 130px;
    border-radius: 5px;
}
.phone-group h6{
    position: relative;
    top: -30px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: large;
}


.watches_div{
    padding-top: 10px;
}
.watches_div h3 {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}
.watches-group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    gap: 20px; 
    padding-bottom: 20px;
}
.watches_img {
    width: calc(50% - 50px); 
    height: 350px;
    border-radius: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.watches_img img {
    width: 100%;
    height: auto; 
    max-width: 300px; 
    border-radius: 5px;
}
.watches-group h6{
    position: relative;
    top: -40px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: large;
}