*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    align-items: center;
}

nav img {
    width: 95px;
}

.input {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input input {
    width: 500px;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid white;
}
.input input::placeholder {
    color: white; 
    opacity: 1; 
}
.input img {
    width: 50px; 
    margin-left: 100px;
}


.hero {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    height: 250px; 
    width: 100%; 
    gap: 20px;
}

.hero1, .hero2 {
    height: 100%; 
}

.hero1 {
    width: 30%;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
}

.hero2 {
    width: 70%;

}
.hero2 img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.categories p{
    text-align: center;
    font-size: x-large;
    font-weight: 800;
}
.categories ul{
    text-align: left;
    font-size: larger;
}

.categories a{
    color: white;
    text-decoration: none;
}

.laptop_div{
    padding-top: 30px;
}
.laptop_div h3{
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;

}
.laptop-group{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.laptop_img{
    height: 350px;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 10px;
}
.laptop_img img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.laptop-group h6{
    position: relative;
    top: -60px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
}


.phone_div{
    padding-top: 30px;
}
.phone_div h3{
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;

}
.phone-group{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.phone_img{
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 10px;
}
.phone_img img{
    width: 180px;
    height: 130px;
    border-radius: 5px;
}
.phone-group h6{
    position: relative;
    top: -30px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
}


